.HomeContainer {
    display: flex;
    flex-direction: column;
    mat-card {
        width: 85%;
        align-self: center;
        margin: 2rem;
        mat-card-title {
            text-align: center;
            h3 {
                font-size: 2rem;
                font-weight: 600;
                color: #414141;
            }
            h5 {
                font-size: 1rem;
                font-weight: 600;
                font-style: italic;
                color: #414141;
            }
        }
        .gallery {
            display: flex;
            justify-content: space-around;
            mat-card-content {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;
                img {
                    height: 45vh;
                    width: 15vw;
                    cursor: zoom-in;
                }
            }
        }
        mat-card-footer {
            display: flex;
            justify-content: center;
            button {
                width: 50%;
                margin: 1.5rem;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.imgViewer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    .count {
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1.5vw;
        font-size: 1rem;
    }
    .closeBtn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.5vw;
        color: #fff;
    }
    .btnPrev {
        left: 0;
    }
    img {
        width: auto;
        height: 100vh;
    }
    .btnNext {
        right: 0;
    }
    .btnNext,
    .btnPrev {
        position: absolute;
        margin: 2vw;
        color: #414141;
        background-color: #fff;
        opacity: .5;
    }
    .btnNext:hover,
    .btnPrev:hover {
        opacity: .85;
    }
}

@media(max-width: 980px) {
    .HomeContainer {
        mat-card {
            .gallery {
                border: none;
                mat-card-content {
                    img {
                        width: 20vw;
                        height: 35vh;
                    }
                }
            }
        }
    }
}

@media(max-width: 650px) {
    .HomeContainer {
        mat-card {
            .gallery {
                display: flex;
                flex-direction: column;
                mat-card-content {
                    img {
                        width: 50vw;
                        height: 60vh;
                    }
                }
            }
        }
    }
    .imgViewer {
        img {
            height: 70vh;
        }
        .btnNext,
        .btnPrev {
            width: 3rem;
            height: auto;
        }
    }
}

@media(max-width: 500px) {
    .HomeContainer {
        mat-card {
            .gallery {
                mat-card-content {
                    img {
                        height: 30vh;
                    }
                }
            }
        }
    }
}

@media(max-width: 400px) {
    .HomeContainer {
        mat-card {
            .gallery {
                mat-card-content {
                    img {
                        height: 20vh;
                    }
                }
            }
        }
    }
    .imgViewer {
        img {
            height: 60vh;
        }
        .btnNext,
        .btnPrev {
            background: transparent;
            opacity: 1;
            mat-icon {
                color: #414141
            }
        }
    }
}