<div class="HomeContainer">
    <mat-card>
        <mat-card-title>
            <h3>1 hour tattoo</h3>
            <h5>$50 - $150</h5>
        </mat-card-title>
        <div class="gallery">
            <mat-card-content *ngFor="let img of galleryData; let i=index">
                <img (click)="onPreviewImage(i)" mat-card-image [src]="img.imageSrc" [alt]="img.imageAlt">
            </mat-card-content>
        </div>
        <mat-card-footer>
            <button mat-raised-button color="primary">
                <a href="https://www.instagram.com/slimedieselx/?hl=en" target="_blank">Book with me!</a>
            </button>
        </mat-card-footer>
    </mat-card>

    <mat-card>
        <mat-card-title>
            <h3>2 hour tattoo</h3>
            <h5>$200 - $300</h5>
        </mat-card-title>
        <mat-card-content>
            <img mat-card-image src="" alt="tattoo ex: 1">
            <img mat-card-image src="" alt="tattoo ex: 2">
            <img mat-card-image src="" alt="tattoo ex: 3">
            <img mat-card-image src="" alt="tattoo ex: 4">
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary">Book with me!</button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h3>3 hour tattoo</h3>
            <h5>$350 - $500</h5>
        </mat-card-title>
        <mat-card-content>
            <img mat-card-image src="" alt="tattoo ex: 1">
            <img mat-card-image src="" alt="tattoo ex: 2">
            <img mat-card-image src="" alt="tattoo ex: 3">
            <img mat-card-image src="" alt="tattoo ex: 4">
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary">Book with me!</button>
        </mat-card-footer>
    </mat-card>
</div>

<!-- image viewer component  -->
<div *ngIf="showMask" class="imgViewer">
    <span class="count">{{currentIndex + 1}}/{{totalImageCount}}</span>
    <button *ngIf="previewImage" class="closeBtn" mat-icon-button>
        <mat-icon aria-label="close" fontIcon="close" (click)="onClose()">
            <span class="material-symbols-outlined">
                close
            </span>
        </mat-icon>
    </button>
    <button *ngIf="controls" class="btnPrev" mat-fab>
        <mat-icon aria-label="previous image icon" fontIcon="chevron_left" (click)="onPreviousImage()">
            <span class="material-symbols-outlined">
                chevron_left
            </span>
        </mat-icon>
    </button>
    <div *ngIf="previewImage" class="img">
        <img [src]="currentImage.imageSrc" alt="currentImage.imageAlt">
    </div>
    <button *ngIf="controls" class="btnNext" mat-fab>
        <mat-icon aria-label="next image icon" fontIcon="chevron_right" (click)="onNextImage()">
            <span class="material-symbols-outlined">
                chevron_right
            </span>
        </mat-icon>
    </button>
</div>
<!-- image viewer component end -->