<div class="HomeContainer">
    <mat-card>
        <mat-card-title>
            <h3>1 hour tattoo</h3>
        </mat-card-title>
        <mat-card-content>
            <img mat-card-image src="../../assets/1hr1.png" alt="1 hour tattoo ex: 1">
            <img mat-card-image src="../../assets/1hr2.jpg" alt="1 hour tattoo ex: 2">
            <img mat-card-image src="../../assets/1hr3.jpg" alt="1 hour tattoo ex: 3">
            <img mat-card-image src="../../assets/1hr4.jpg" alt="1 hour tattoo ex: 4">
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary">Book with me!</button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h3>2 hour tattoo</h3>
        </mat-card-title>
        <mat-card-content>
            <img mat-card-image src="" alt="tattoo ex: 1">
            <img mat-card-image src="" alt="tattoo ex: 2">
            <img mat-card-image src="" alt="tattoo ex: 3">
            <img mat-card-image src="" alt="tattoo ex: 4">
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary">Book with me!</button>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>
            <h3>3 hour tattoo</h3>
        </mat-card-title>
        <mat-card-content>
            <img mat-card-image src="" alt="tattoo ex: 1">
            <img mat-card-image src="" alt="tattoo ex: 2">
            <img mat-card-image src="" alt="tattoo ex: 3">
            <img mat-card-image src="" alt="tattoo ex: 4">
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary">Book with me!</button>
        </mat-card-footer>
    </mat-card>
</div>